@charset "UTF-8";

/* 전체 */
.container { max-width: 900px; position: relative; margin: 0 auto 100px; padding-top: 30px; padding-left: 0; padding-right: 0;}

/* Page Header */
.pageHeader h3 { text-align: center; }
#page { font-weight: bold; }

/* Page Content */
/* joinAgree */
#termsForm { width: 80% }
.terms label { font-size: 16px; }
.terms .termsBox { height: 200px; border: 1px solid #ccc; overflow: auto; overflow-x: hidden; padding: 5px; }
#checkbox { box-sizing: content-box; padding-top: 10px; font-size: 14px; }

/* joinInfo */
#infoForm label { font-weight: normal; }
#infoForm input::placeholder { font-size: 11px; color: #5e5e5e; }
#required { color: #E74C3C; font-weight: normal; }
#idCheckMsg { color: #E74C3C; }


/* joinReqAuth */
.msgBox { width: 85%; height: 600px; margin: 0 auto; margin-top: 50px; text-align: center; vertical-align: middle; background-color: #f7f7f7; box-shadow: 6px 6px 10px #E0E0E0; }
.msgBox .msg { height: 100%; padding-top: 15%; padding-bottom: 30%; }
.msgBox h1 { font-size: 50px; color: #00BD9D; }
.msgBox p { font-size: 16px; color: #5e5e5e; }

/* Page Button */
#btnBack { border-radius:30px; color: #FFFFFF; font-size: 15px; background-color: #D8D5DB; box-shadow: 6px 6px 10px #E0E0E0; }
#btnNext { border-radius:30px; color: #FFFFFF; font-size: 15px; background-color: #8BD7D2; box-shadow: 6px 6px 10px #E0E0E0; }
#btnIdCheck { border: 1px solid #00BD9D; color: #00BD9D; background-color: #FFFFFF; }
#btnNickCheck { border: 1px solid #00BD9D; color: #00BD9D; background-color: #FFFFFF; }
#btnZipcode { border: 1px solid #00BD9D; color: #00BD9D; background-color: #FFFFFF; }
#btnClose { text-align: center; background: #00BD9D; color: #FFFFFF; }
#btnCancle { border-radius:30px; color: #FFFFFF; font-size: 15px; background-color: #D8D5DB; box-shadow: 6px 6px 10px #E0E0E0; }
#btnJoin { border-radius:30px; color: #FFFFFF; font-size: 15px; background-color: #8BD7D2; box-shadow: 6px 6px 10px #E0E0E0; }
#btnMain { border-radius:30px; text-align: center; color: #FFFFFF; font-size: 15px; background-color: #8BD7D2; box-shadow: 6px 6px 10px #E0E0E0; }
