@charset "UTF-8";
/* 전체 설정 */
*{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
	margin: 0 auto;
	max-width: 1200px;
}

a { text-decoration:none !important } 
a:hover { text-decoration:none !important }

/* 레이아웃 설정 */
header {
	text-align: left;
	height: 140px;
	margin: 20px 0;
	position: relative;
}
footer {
	text-align: center;
}

article {
	margin: 0 auto;
	min-height: 1000px;
	border : 1px solid #ccc;
}
a.logo{
	all : unset;
	font-weight: bold;
	font-size: 35px;
	color : #8bd7d2;
	cursor : pointer;
}


/* 네비게이션 메뉴 설정 */
nav {
	text-align: center;
	margin-top: 20px;
	background-color: #8BD7D2;
	height: 50px;
}
nav > ul {
	margin: 0;
	padding: 0;
}


nav > ul >li{
	position: relative;
	list-style: none;
	float : left;
	font-size: 20px;
}
nav > ul >li > a{
	text-decoration: none;
	display: block;
	width : 200px;
	color : white;
}
nav > ul >li > a:hover{
	color: #FFFBFA;
	font-weight: bolder;
	text-decoration: none;
}

nav > ul >li >ul >li{
	list-style: none;
	float : left;
	font-size: 15px;
	color: #ccc;
	
}
nav > ul >li >ul >li > a{
	display: block;
	width : 80px;
	color: #00BD9D;
	text-decoration: none;
}
nav > ul >li >ul >li > a:hover {
	color: #00BD9D;
	font-weight: bolder;
	text-decoration: none;
}

.nav_first:after {
   	content: '';
   	display: block;
   	clear: both;
}

.nav_first {
   	display: inline-block;
   	margin: 0 auto;
}


.nav_first li {
	float: left;
	padding: 12px 20px;
/* 	position: relative; */
}

.nav_second {
	position: absolute;
	top: 39px;
	display: none;
	width: 1000px;
	margin-left: -200px;
}


.nav_first li:hover .nav_second {
	display: block;
	opacity: 1;
}

/* 마이페이지 로그인 설정 */
.welcome{
	position: absolute;
	top: 50px;
	right: 130px;	
}
.login{
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	width : 120px;
}

.welcome > strong {
	color: #00BD9D;
}
.login img{
	cursor : pointer;
}

/* 마이페이지 메뉴 설정 */
.balloon{
	position: relative;
	margin-top: 20px;
  	border-radius: 10px;
  	text-align: center;
  	background: #fffbfa;
  	padding : 15px;
	width:120px;
	height:100px;	
}
.balloon > p > a{
	color : black;
}
.balloon > p > a:hover{
	color : #00BD9D;
}

.balloon:after {	
	 border-top:0px solid transparent;
	 border-left: 10px solid transparent;
	 border-right: 10px solid transparent;
	 border-bottom: 10px solid #fffbfa;
	 content:"";
	 position:absolute;
	 top:-10px;
	 left : 50px;
}

/* footer 설정 */
footer ul{
	float : left;	
	list-style: none;
	padding : 0px;
}

footer  ul > li{
	float : left;	
	width : 125px;
}
footer{
	text-align: center;
	height : 60px;
}










