@charset "UTF-8";

/* 기본 CSS */
.left{ float: left; }
.right { float: right; }
.clear{ clear: both; }
.abs{ position: absolute; }
.rel{ position: relative; }
.bor_rad_five { border-radius: 5px }
.bor_rad_ten { border-radius: 10px }
.box_shadow { box-shadow: 3px 3px 3px #ccc; }

.search_btn { height: 30px; width: 45px; color: white; border: 0; background-color: #8BD7D2; cursor: pointer; }
.write_btn { height: 30px; width: 60px; color: white; border: 0; background-color: #54DEFD; cursor: pointer; }
.list_btn { height: 30px; width: 60px; color: white; border: 0; background-color: #545557; cursor: pointer; }
.update_btn { height: 30px; width: 60px; color: white; border: 0; background-color: #00BD9D; cursor: pointer; }
.delete_btn { height: 30px; width: 60px; color: white; border: 0; background-color: #F06464; cursor: pointer; }
/* 리스트 시작 */

/* 글쓰기, 검색 */
.write_search_box { width: 1070px; margin-top: 20px }
.write_box { display: inline-block; width: 63px; }
.search_box { display: inline-block; width: 295px; left: 707px;  bottom: 20px; }
.search_box > select { height:30px; border: 1px solid #8BD7D2; outline: none; }
.search_box > input[name="search"] { height:30px; left: 92px; border: 1px solid #8BD7D2; outline: none; }
.search_box > button { height:30px; right:0 }


/* 공지사항 목록 */
.list_box { width: 1070px; height: 95px; border: 1px solid #8BD7D2; margin-top: 20px; padding: 20px; }

.title_box > a { color: #4e4e4e; }

.info { margin-top: 10px;}
.info > ul { list-style-type: none; padding: 0; margin: 0; }
.info > ul > li { float:left; padding-right: 10px; color: #898989; }

/* 페이징 */
.ntpage { text-align: center; }
.ntpage > ul { list-style-type: none; line-height: 24px; padding-left: 100px; margin-top: 20px; margin-bottom:20px; width: 550px; height: 28px; }
.ntpage > ul > li { float: left; margin-right: 5px; width: 20px; }
.ntpage > ul > li > a { color: black; }
.ntpage > ul > li > a:hover { color: #00BD9D; }

/* 리스트 끝 */

/* 뷰 시작 */
.view_box { width: 1140px; border: 2px solid #8BD7D2; margin: 20px auto; padding: 15px; }

/* 제목 */
.top { padding: 10px 20px; border-bottom: 1px solid #dfdfdf; }
.sub { display: block; font-size: 18px; font-weight: 700; color: #333; }

/* 상세 목록 */
.view_info { padding: 12px 20px; border-bottom: 1px solid #dfdfdf; height: 50px; }
.view_info > ul { list-style-type: none; padding: 0; margin: 0; }
.view_info > ul > li { float:left; padding-right: 10px; color: #898989; }

/* 본문 */
.con { min-height: 200px; padding: 20px; }

/* 중간 버튼 */
.mid { width: 1140px; height: 35px; }

.mid .list_btn { left: 50%;}
.mid .update_btn { right: 70px;}
.mid .delete_btn { right: 1px;}

/* 댓글 */
.cmt_box { border: 2px solid #8BD7D2; width: 1140px; height: 170px; margin: 20px 0px; }
.cnt_box { width: 1085px; height: 120px; margin: 0 auto; }
.cnt_box img { margin-top:5px; margin-right: 5px; width: 30px; height: 30px; display: inline-block; }
.cnt_box span { display: inline-block; line-height: 33px; vertical-align: top; color: #ccc; }
.cnt_box textarea { border: 0; width: 1070px; height: 85px; resize: none; }

#content_cnt { display: inline-block; line-height: 45px; vertical-align: top; margin-left: 20px; color: #ccc; }
.cmt_box .write_btn { bottom: 10px; right: 10px;}

.cmtview_rel {
	border: 1px solid #ccc;
    position: relative;
    width: 935px;
    height: 100px;
    margin: 0 auto;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: 20px;
}
.list_abs {
	position: absolute;
	right: 10px;
	font-size: 16px;
}

.del_abs {
	position: absolute;
    right: 20px;
    font-size: 12px;
    top: 10px;
    border: 1px solid #CCC;
    width: 50px;
    padding-left: 0;
    text-align: center;
    height: 28px;
    line-height: 25px;
    list-style-type: none;
}

/* 글쓰기 */
.sub > input { border:0; border-bottom: 2px solid #8BD7D2; outline: none; }

.write_info { padding: 12px 20px; border-bottom: 1px solid #dfdfdf; height: 50px; }
.write_info > ul { list-style-type: none; padding: 0; margin: 0; }
.write_info > ul > li { float:left; padding-right: 10px; color: #898989; }
.write_info > ul > li > select { height:20px; border:0; border-bottom: 2px solid #8BD7D2; outline: none; cursor: pointer; }

/* 파일 */
.file_box { display: inline-block;}
.file_box input[type="file"] { position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0; }
.file_box label { display: inline-block; padding: 6px 12px; height:30px; color: white; vertical-align: middle; background-color: #8BD7D2; cursor: pointer; border: 0; }
.upload-name { border: 0; border-bottom: 2px solid #8BD7D2; height: 30px; padding: 0 10px; margin-right:10px; outline:none; vertical-align: middle; }



