<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="jeju.dao.face.AdminUserDao">
	
	<resultMap type="jeju.dto.JejuUser" id="JejuUser">
		<id column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_pw" property="userPw"/>
		<result column="user_name" property="userName"/>
		<result column="user_nick" property="userNick"/>
		<result column="user_birth_date" property="userBirthDate"/>
		<result column="user_email" property="userEmail"/>
		<result column="user_phone" property="userPhone"/>
		<result column="user_zipcode" property="userZipcode"/>
		<result column="user_address" property="userAddress"/>
		<result column="user_address_detail" property="userAddressDetail"/>
		<result column="user_agree" property="userAgree"/>
		<result column="user_join_date" property="userJoinDate"/>
		<result column="user_mail_authkey" property="userMailAuthkey"/>
		<result column="user_mail_auth" property="userMailAuth"/>
		<result column="user_grade" property="userGrade"/>
	</resultMap>

	<sql id="selectUser">
		SELECT user_no, user_id, user_name, user_nick, user_email, user_join_date, user_mail_auth, user_grade FROM JejuUser 
	</sql>
	
	<sql id="search">
		<choose>
			<when test="condition == 'null'">
				WHERE user_id LIKE '%'||#{search}||'%'
				OR WHERE user_name LIKE '%'||#{search}||'%'
				OR WHERE user_nick LIKE '%'||#{search}||'%'
				OR WHERE user_email LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				WHERE ${condition} LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
	</sql>

	<select id="selectCountAll" resultType="int">
		SELECT COUNT(*) FROM JejuUser
	</select>
	
	<select id="selectPageList" resultMap="JejuUser" parameterType="jeju.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, J.* FROM (
				<include refid="selectUser" />
				<include refid="search" />
				ORDER BY user_no ASC	
			) J
		) R
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectInfo" resultMap="JejuUser" parameterType="jeju.dto.JejuUser" >
		SELECT user_no, user_id, user_name, user_nick, user_birth_date, user_email, user_phone, user_address, user_address_detail
		FROM JejuUser WHERE user_no = #{userNo}
	</select>
	
	<update id="update" parameterType="jeju.dto.JejuUser">
		UPDATE JejuUser 
		SET user_id = #{userId}, user_pw = #{userPw}, user_name = #{userName}, user_nick = #{userNick}, user_birth_date = #{userBirthDate}
			,user_email = #{userEmail}, user_phone = #{userPhone}, user_address = #{userAddress}, user_address_detail = #{userAddressDetail}
		WHERE user_no = #{userNo} 
	</update>
	
	<delete id="delete" parameterType="jeju.dto.JejuUser">
		DELETE JejuUser WHERE user_no = #{userNo}
	</delete>

</mapper>