<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="jeju.dao.face.MypageDao">
	
	<resultMap type="jeju.dto.JejuUser" id="User">
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
		<result column="user_pw" property="userPw" />
		<result column="user_name" property="userName" />
		<result column="user_nick" property="userNick" />
		<result column="user_birth_date" property="userBirthDate" />
		<result column="user_email" property="userEmail" />
		<result column="user_phone" property="userPhone" />
		<result column="user_zipcode" property="userZipcode" />
		<result column="user_address" property="userAddress" />
		<result column="user_address_detail" property="userAddressDetail" />
		<result column="user_agree" property="userAgree" />
		<result column="user_join_date" property="userJoinDate" />
		<result column="user_mail_authkey" property="userMailAuthkey" />
		<result column="user_mail_auth" property="userMailAuth" />
		<result column="user_grade" property="userGrade" />
		<result column="user_origin" property="userOrigin" />
		<result column="user_stored" property="userStored" />
	</resultMap>
	
	
	<select id="selectUserByUserno" parameterType="int" resultMap="User">
		SELECT * FROM JejuUser
		WHERE user_no = #{userNo}
	</select>
	
	
	<select id="selectCntNick" parameterType="jeju.dto.JejuUser" resultType="int">
		SELECT COUNT(*) FROM JejuUser
		WHERE user_nick = #{userNick}
	</select>
	
	<update id="updateUserNick" parameterType="jeju.dto.JejuUser">
		UPDATE JejuUser
		SET user_nick = #{userNick}
		WHERE user_no = #{userNo}
	</update>
	
	
	<select id="selectByProfile" parameterType="int" resultMap="User">
		SELECT user_origin, user_stored FROM JejuUser
		WHERE user_no = #{userNo} 
	</select>
	
	<update id="deleteProfile" parameterType="jeju.dto.JejuUser">
		UPDATE JejuUser
		SET user_origin = null,user_stored = null
		WHERE user_no = #{userNo}
	</update>
	
	<update id="updateProfile" parameterType="jeju.dto.JejuUser">
		UPDATE JejuUser
		SET user_origin = #{userOrigin}, user_stored = #{userStored}
		WHERE user_no = #{userNo}
	</update>
	
	<update id="deletePhoto" parameterType="jeju.dto.JejuUser">
		UPDATE JejuUser
		SET user_origin = null,user_stored = null
		WHERE user_no = #{userNo}
	</update>
	
	
	<update id="updateUser" parameterType="jeju.dto.JejuUser">
		UPDATE JejuUser
		SET user_email = #{userEmail},user_address = #{userAddress}
			,user_address_detail = #{userAddressDetail},user_phone = #{userPhone}
		WHERE user_no = #{userNo}
	</update>
	
	
	<select id="checkPw" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM JejuUser
		WHERE user_no = #{userno} AND user_pw = #{oldpw}
	</select>
	
	
	<update id="updatePw" parameterType="jeju.dto.JejuUser">
		UPDATE JejuUser
		SET user_pw = #{userPw}
		WHERE user_no = #{userNo}
	</update>
	
</mapper>