<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="jeju.dao.face.NoticeDao">

	<resultMap type="jeju.dto.Notice" id="Notice">
		<id column="nt_no" property="ntNo"/>
		<result column="nt_title" property="ntTitle"/>
		<result column="nt_content" property="ntContent"/>
		<result column="nt_div" property="ntDiv"/>
		<result column="nt_utime" property="ntUtime"/>
	</resultMap>
	
	<sql id="selectNotice">
		SELECT 
			nt_no, nt_title, nt_content, nt_div
			, nt_utime, hit
		FROM notice
	</sql>

	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM Notice
	</select>
	
	<select id="noticePageSelect" resultMap="Notice" parameterType="jeju.util.NoticePaging">
		SELECT * FROM (
			SELECT rownum rnum, N.* FROM (
				<include refid="selectNotice"/>
				
				<if test="condition != null and !condition.equals('')">
					<choose>
						<when test="condition.equals('title')">
							WHERE nt_title Like '%' || #{search } || '%'
						</when>
				
						<when test="condition.equals('content')">
							WHERE nt_content Like '%' || #{search } || '%'
						</when>
				
						<when test="condition.equals('title_and_content')">
							WHERE nt_title Like '%' || #{search } || '%'
								OR nt_content Like '%' || #{search } || '%'
						</when>
					</choose>
				</if>
				
				ORDER BY nt_no DESC
			) N
		) R
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<update id="updateHit" parameterType="jeju.dto.Notice">
		UPDATE notice SET hit = hit + 1
		WHERE nt_no = #{ntNo }
	</update>
	
	<select id="selectNoticeByNotice" resultMap="Notice" parameterType="jeju.dto.Notice">
		SELECT * FROM notice
		WHERE nt_no = #{ntNo }
	</select>

</mapper>